/** default tag styles **/
h1,
h2 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.4em;
  color: #c0933e;
}
h2 {
  font-size: 64px;
  line-height: 96px;
  color: #ffffff;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.8;
}

button {
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  padding: 0 24px;
  background-color: #c0933e;
  box-sizing: border-box;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 0.2s ease-in background-color, 0.2s ease-in color;
  &:hover {
    color: #c0933e;
    background-color: #fff;
  }
  cursor: pointer;
}

section {
  width: 100%;
  box-sizing: border-box;
  padding: 120px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/** helper style classes **/
.text-center {
  text-align: center;
}

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-64 {
  margin-top: 64px !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(36px);
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 3;
  .nav {
    height: 96px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      height: 64px;
      img {
        height: 100%;
        width: auto;
      }
    }
    .nav-items {
      display: flex;
      column-gap: 40px;
      .nav-item {
        text-decoration: none;
        color: #c0933e;
        line-height: 96px;
        &.social {
          img {
            cursor: pointer;
            &:not(:last-child) {
              margin-right: 12px;
            }
          }
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

header {
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  .hero-swiper {
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &:nth-child(1) {
          background-image: url("../img/hero-slider-1.jpg");
        }
        &:nth-child(2) {
          background-image: url("../img/hero-slider-2.jpg");
        }
        &:nth-child(3) {
          background-image: url("../img/hero-slider-3.jpg");
        }
        &:nth-child(4) {
          background-image: url("../img/hero-slider-4.jpg");
        }
      }
    }
  }
  .hero-text {
    position: absolute;
    height: 450px;
    max-width: 1200px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    outline-offset: -2px;
    z-index: 2;
    padding: 0 120px;
    margin: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(to right, #c0933e 4px, transparent 4px) 0 0,
      linear-gradient(to left, #c0933e 4px, transparent 4px) 100% 100%,
      linear-gradient(to bottom, #c0933e 4px, transparent 4px) 0 0,
      linear-gradient(to top, #c0933e 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
}

section#about {
  padding: 120px 180px;
  background: #272525;
}

section#services {
  background: #000000;
  .container {
    .service-tile-container {
      .service-tile {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        display: grid;
        grid-template-columns: 440px 1fr;
        column-gap: 10px;
        padding: 32px 0;
      }
    }
  }
}

section#our-work {
  background: #272525;
  .container {
    .our-work-videos {
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      column-gap: 40px;
      row-gap: 40px;
      .video {
        position: relative;
        width: 100%;
        &:hover {
          img {
            opacity: 0;
          }
          button {
            opacity: 1;
            z-index: 2;
          }
        }
        img {
          width: 100%;
          height: auto;
          transition: 0.2s ease-in opacity;
          z-index: 1;
        }
        button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s ease-in opacity;
          z-index: 0;
          opacity: 0;
        }
      }
    }
  }
}

section#some-bts {
  background: #000000;
  .container {
    .bts-swiper {
      height: 180px;

      .swiper-wrapper {
        .swiper-slide {
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

section#clients {
  background: #272525;
  .container {
    .clients-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      column-gap: 24px;
      row-gap: 24px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

section#contact-us {
  background: #000000;
  .container {
    .contact-box {
      max-width: 740px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
      .office {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 32px;
        display: grid;
        grid-template-columns: minmax(0, 268px) 1fr;
        row-gap: 32px;
        .name {
          font-size: 16px;
          line-height: 26px;
          color: #c0933e;
        }
        .address {
          p {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
          }
        }
        .locate-btn {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
